@model StayFit.Models.PostMessage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:#18bc9c"> View Discussion</h1>


<div class="container well">
    <h3 style="font-size:25px; font-weight:200;font-family:Helvetica; display:inline-block">@Html.DisplayFor(model => model.Post.Post_Title)</h3>
    <div class="well">
        @*Html.DisplayFor(model => model.Post_Message)*@
        @Html.Raw(Model.Post_Message)
    </div>
    <span> <i class="glyphicon glyphicon-hand-left" style="color:darkcyan"></i> </span>@Html.ActionLink("Edit", "EditPost", new { id = Model.Post_Message_Id }) |
    @Html.ActionLink("Back to Discussion Board", "PostsList")<span> <i class="glyphicon glyphicon-hand-right" style="color:darkcyan"></i> </span>
    <br />
</div>
