@{
    ViewBag.Title = "Home Page";
}
<section class="banner_area">
    <div class="banner_sec d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <h6>Be A Part Of StayFit &amp; Be Healthy </h6>
                <h2>BEAT THE CHALLENGES &amp; STAY FIT!</h2>
                <br /><br /><br /><br /><br />
                <a href="#" class="btn theme_btn_two button_hover">Get Started</a>
            </div>
        </div>
    </div>
</section>

<!-- Services Area -->
<section id="service" class="services-area ptb-100 bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <!-- Section Title -->
                <div class="sec-title">
                    <h2>Our Services</h2>
                    <br>
                    <p>We provide Variety kinds of services. We take each member with whole-heared care to make everyone fit and healthy</p>
                </div>
                <!-- // End Section Title -->
            </div><!-- // End Col -->
        </div><!-- // End Row -->
        <br>
        <br>
        <br>
    </div><!-- // End Container -->
    <br>
    <!-- All Services -->

    <div class="all-services service-3-grid d-md-flex flex-md-wrap mt-50">
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service1.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Group Fitness</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast. Sign Up for More Details</p>
                <a href="#">Check Our Memberships Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service2.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Personal training</h4>
                <p>Improve your health and strength with personal attention. Join our personal trainings and get in shape fast.Sign Up for More Details</p>
                <a href="#">Check Our Memberships Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service3.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Cardio program</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast. Sign Up for More Details</p>
                <a href="#">Check Our Memberships Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service4.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Cross Fit</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast. Sign Up for More Details</p>
                <a href="#">Check Our Memberships Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service5.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Challenges</h4>
                <p>Specifically designed 30-days challenges to set a goal and motivation to reach there. Sign Up for More Details</p>
                <a href="#">Check Our Membership Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service6.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Boxing</h4>
                <p>Highly sporty boxing classes for body strength. Join our boxing trainings and get in shape fast. Sign Up for More Details</p>
                <a href="#">Check Our Membership Tiers<i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
    </div>
    <!-- // End All Services -->
</section>
<!-- // End Services Area -->
<!-- Start price Area -->
<section id="pricing" class="price-area pt-100" id="plan">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <!-- Section Title -->
                    <div class="sec-title">
                        <h2>Our Membership Prices</h2>
                        <br>
                        <p>Choose the Perfect tier for you. We take each member with whole-heared care to make everyone fit and healthy</p>
                    </div>
                    <!-- // End Section Title -->
                </div><!-- // End Col -->
            </div><!-- // End Row -->
            <br>
            <br>
            <br>
        </div><!-- // End Container -->
        <br>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Standard</h4>
                            <p>For the <br>Standard</p>
                        </div>
                        <div class="top-right">
                            <h1>A$50/Month</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            Be Fit and Stay Healthy
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>15 Cardio Classes</li>
                            <li>10 Boxing Classes</li>
                            <li>10 Yoga Classes</li>
                            <li>Group Sessions</li>
                            <li>10 Swiming Pool Access</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Join Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Premium</h4>
                            <p>For the <br>premium</p>
                        </div>
                        <div class="top-right">
                            <h1>A$80/Month</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            Be Fit and Stay Healthy
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>20 Cardio Classes</li>
                            <li>20 Boxing Classes</li>
                            <li>20 Yoga Classes</li>
                            <li>Group Sessions and Personal Trainers</li>
                            <li>20 Swiming Pool and Spa Access</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Join Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>Platinum</h4>
                            <p>For the <br>platinum</p>
                        </div>
                        <div class="top-right">
                            <h1>A$130/Month</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>
                            Be healthy and stay fit
                        </p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>30 Cardio Classes</li>
                            <li>30 Boxing Classes</li>
                            <li>30 Yoga Classes</li>
                            <li>Group Sessions and Personal Training </li>
                            <li>Unlimited Swiming Pool and Spa Access</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20">Join Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End price Area -->

