@{
    ViewBag.Title = "Home Page";
}

<section class="banner_area">
    <div class="banner_sec d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <h6>Be A Part Of StayFit &amp; Be Healthy </h6>
                <h2>BEAT THE CHALLENGES &amp; STAY FIT!</h2>
                <br /><br /><br /><br /><br />
                <a href="#" class="btn theme_btn_two button_hover">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!-- Services Area -->
<section id="service" class="services-area ptb-100 bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <!-- Section Title -->
                <div class="sec-title">
                    <h2>Our Services</h2>
                    <br>
                    <p>We provide Variety kinds of services. We take each member with whole-heared care to make everyone fit and healthy</p>
                </div>
                <!-- // End Section Title -->
            </div><!-- // End Col -->
        </div><!-- // End Row -->
        <br>
        <br>
        <br>
    </div><!-- // End Container -->
    <br>
    <!-- All Services -->
    <div class="all-services service-3-grid d-md-flex flex-md-wrap mt-50">
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service1.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Group Fitness</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast.</p>
                <a href="#">Sign Up for More Details <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service2.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Personal training</h4>
                <p>Improve your health and strength with personal attention. Join our personal trainings and get in shape fast.</p>
                <a href="#">Sign Up for More Details  <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service3.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Cardio program</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast.</p>
                <a href="#">Sign Up for More Details <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service4.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Cross Fit</h4>
                <p>Improve your body strength. Join our group trainings and get in shape fast.</p>
                <a href="#">Sign Up for More Details <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service5.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Challenges</h4>
                <p>Specifically designed 30-days challenges to set a goal and motivation to reach there.</p>
                <a href="#">Sign Up for More Details  <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
        <!-- Single Service -->
        <div class="single-service">
            <img src="~/Content/Images/service6.jpg" alt="">
            <div class="single-service-ovelay">

                <h4>Boxing</h4>
                <p>Highly sporty boxing classes for body strength. Join our boxing trainings and get in shape fast.</p>
                <a href="#">Sign Up for More Details <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
        <!-- // End Single Service -->
    </div>
    <!-- // End All Services -->
</section>
<!-- // End Services Area -->
<