@model IEnumerable<StayFit.Models.MemberProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Gym_Member_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>NewIndex</title>
</head>
<body>
    <br /> <br />

    <!--Services start-->
    <div class="call-to-action1 tab-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="cta-img">
                        <img src="~/Content/Images/serv.png" alt="serv-img" />

                    </div>
                </div>
                <!-- /.col -->
                <div class="col-lg-8">
                    <div class="cta-box pad70">
                        <!-- Section Title -->
                        <div class="sec-title">
                            <h2>Our Services</h2>

                            <h6>We provide Variety kinds of services. We take each member with whole-heared care to make everyone fit and healthy</h6>
                        </div>
                        <!-- // End Section Title -->

                        <br /><hr />
                        <ul id="all-tab" class="nav nav-tabs call-tab-action">
                            <li class="nav-item full-width active"><a href="#" data-target="#cta1" data-toggle="tab" class="nav-link small text-uppercase"><h6><img src="~/Content/Images/primary-radio.png" /> Group Fitness</h6></a></li>
                            <li class="nav-item full-width"><a href="#" data-target="#cta2" data-toggle="tab" class="nav-link small text-uppercase "><h6><img src="~/Content/Images/primary-radio.png" /> Personal Training</h6></a></li>
                            <li class="nav-item full-width"><a href="#" data-target="#cta3" data-toggle="tab" class="nav-link small text-uppercase "><h6><img src="~/Content/Images/primary-radio.png" /> Challenges</h6></a></li>
                            <li class="nav-item full-width"><a href="#" data-target="#cta4" data-toggle="tab" class="nav-link small text-uppercase"><h6><img src="~/Content/Images/primary-radio.png" /> Boxing</h6></a></li>
                            <li class="nav-item full-width"><a href="#" data-target="#cta5" data-toggle="tab" class="nav-link small text-uppercase "><h6><img src="~/Content/Images/primary-radio.png" /> CrossFit</h6></a></li>
                            <li class="nav-item full-width"><a href="#" data-target="#cta6" data-toggle="tab" class="nav-link small text-uppercase"><h6><img src="~/Content/Images/primary-radio.png" /> Cardio Program</h6></a></li>

                        </ul>

                        <div id="call-tab-content" class="tab-content call-tab-content ">
                            <div id="cta1" class="tab-pane  active">
                                <br />
                                <h6>Improve your body strength. Join our group trainings and get in shape fast. We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function."</h6>
                            </div>
                            <div id="cta2" class="tab-pane fade  ">
                                <br />
                                <h6>Improve your health and strength with personal attention. Join our personal trainings and get in shape fast.We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function.</h6>
                            </div>
                            <div id="cta3" class="tab-pane fade  ">
                                <br />
                                <h6>Specifically designed 30-days challenges to set a goal and motivation to reach there.We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function."</h6>
                            </div>
                            <div id="cta4" class="tab-pane fade  ">
                                <br />
                                <h6>Highly sporty boxing classes for body strength. Join our boxing trainings and get in shape fast.We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function."</h6>
                            </div>
                            <div id="cta5" class="tab-pane fade  ">
                                <br />
                                <h6>Specifically designed 30-days challenges to set a goal and motivation to reach there.We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function."</h6>
                            </div>
                            <div id="cta6" class="tab-pane fade  ">
                                <br />
                                <h6>Highly sporty boxing classes for body strength. Join our boxing trainings and get in shape fast.We know showed that severe morbidly obese patients can benefit almost equally as normal weight patients in pain relief and gains in physical function."</h6>
                            </div>
                        </div>
                        <br /><br /><br />
                        <div class="bttn" align="center">
                            <br /><br /><br />
                            <a href="#" class="btn theme_btn_two button_hover">Book Now</a>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!--Services end-->
    <!--Challneges Start-->

    
    <div class="product-area pad90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <br /><br />
                        <div class="title-bar full-width mb20">

                            <img src="~/Content/Images/ttl-bar.png" />
                        </div>

                        <h3>Join Our New Challenges</h3>
                        <h4>Beat the challenges and Stay Fit</h4>
                        <br /><br />
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-carousel">
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">

                                        <img src="~/Content/Images/beachbody.jpg" /> 
                                    </div>
                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>30 Days Beach Body Challenge</h4>

                                    <a href="#" class="btn theme_btn_two button_hover">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">

                                        <img src="~/Content/Images/weighloss.jpg" />
                                    </div>
                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>30 Days Weight Loss Challenge</h4>

                                    <a href="#" class="btn theme_btn_two button_hover">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">

                                        <img src="~/Content/Images/fullbody.jpg" />
                                    </div>
                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>30 Days Full Body Challenge</h4>

                                    <a href="#" class="btn theme_btn_two button_hover">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">

                                        <img src="~/Content/Images/armchllg.jpg" /> 
                                    </div>
                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>30 Days Arms Challenge</h4>

                                    <a href="#" class="btn theme_btn_two button_hover">Join Now</a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END GRID -->
    <!--pricing box start-->
    <div class="product-area pad90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <br /><br />
                        <div class="title-bar full-width mb20">

                            <img src="~/Content/Images/ttl-bar.png" />
                        </div>

                        <h3>Our Special Products</h3>
                        <h4>Additional 25% off for membership</h4>
                        <br /><br />
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-carousel">
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">
                                        <a href="~/Content/Images/p1.jpg">
                                           <img src="~/Content/Images/p1.jpg" /> <i class=" ovrlay fa fa-search"></i>
                                        </a>
                                    </div>
                                   
                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>Muscle Gain</h4>
                                    <h6 >A$85.00</h6>
                                    <div class="add-cart">
                                        <a href="#">add to cart</a>
                                    </div>
                                    <a href="#" class="btn theme_btn_two button_hover">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">
                                        <a href="~/Content/Images/p2.jpg">
                                            <img src="~/Content/Images/p2.jpg" /> <i class=" ovrlay fa fa-search"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>Supplements</h4>
                                    <h6>A$75.00</h6>
                                    <div class="add-cart">
                                        <a href="#">add to cart</a>
                                    </div>
                                    <a href="#" class="btn theme_btn_two button_hover">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">
                                        <a href="~/Content/Images/p3.jpg">
                                            <img src="~/Content/Images/p1.jpg" /> <i class=" ovrlay fa fa-search"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>Vitamins</h4>
                                    <h6>A$100.00</h6>
                                    <div class="add-cart">
                                        <a href="#">add to cart</a>
                                    </div>
                                    <a href="#" class="btn theme_btn_two button_hover">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="cart-box primary-overlay">
                                    <div class="cart-img full-width">
                                        <a href="~/Content/Images/p4.jpg">
                                            <img src="~/Content/Images/p4.jpg" /> <i class=" ovrlay fa fa-search"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="cart-dtl" align="center">
                                    <h4>Proteins</h4>
                                    <h6>A$185.00</h6>
                                    <div class="add-cart">
                                        <a href="#">add to cart</a>
                                    </div>
                                    <a href="#" class="btn theme_btn_two button_hover">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!--product box end-->
</html>
