@model IEnumerable<StayFit.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Gym_Member_Layout.cshtml";
}

<h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:#18bc9c"> Disscussion Board</h1>
<hr style="border-top: 1px solid #ccc; background: transparent;">

<table class="table table-striped table-responsive table-hover">
    <tr style="background-color:#18bc9c;height:20px">
        <th>
            Discussion Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Title)
            </td>
            <td>
                @Html.ActionLink("View Discussions", "MemberPostDetails", new { id = item.Post_Id })
            </td>
        </tr>
    }

</table>
<br /><br />
<hr />

<h3 style="font-size:22px; font-weight:200;font-family:Helvetica; color:#18bc9c; display:inline-block">
    <span> <i class="glyphicon glyphicon-hand-right" style="color:darkcyan"></i> </span> @Html.ActionLink("Create New Discussion", "CreatePost") <span> <i class="glyphicon glyphicon-hand-right" style="color:darkcyan"></i> </span>
</h3>